*{
    margin: 0;
}
.main_container{
    margin: 0 auto;
    width: 70%;
}
@media only screen and (max-width: 700px){
    .main_container{
        margin: 0 auto;
        width: 90%;
    }
}
   /* res Nav bar */

#nav_ham{
    display: none;
}
@media only screen and (max-width: 700px){
.res_nav_bar{
    
}
.nav_item_res img{
    position: fixed;
    top:1rem;
    left: 1rem;
}
#nav_ham{
    display: block;
    justify-content: space-around;
}
.ham{
    position: fixed;
    z-index: 100%;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border: gray solid 1px;
    background:rgb(245, 161, 52);
    cursor: pointer;
}
.x_icon{
    display: none;
}
.menu{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(128, 128, 128, 0.897);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
}
.menu li {
    padding: 1rem;
}
.menu li a{
    text-decoration: none;
    color: rgb(245, 161, 52);
    cursor:pointer;
}
.showResMenu{
    transform: translateY(0);
} 
}


/* nav bar */

.nav_bg{
    color: white;
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    display:flex;
    justify-content:center;
}
.nav_bar{
    display: flex;
    height: 5rem;
    position: fixed;
    top: 0; 
    background-color: rgb(255, 255, 255);
    z-index: 1;    
}
.icon{
    margin: .5rem;
    
}
.sm_graph{
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* position: relative; */
}
.sm_graph::after{
    position: absolute;
    top: 50%;
    height: 1px;
    background-color:rgb(245, 161, 52);
    content: "";
    width: 5%;
    margin: auto;
    z-index: -4;
}

@media only screen and (max-width: 700px){
    /* .nav_bar{
        display: flex;
        flex-direction: column;
        position: static;
        height: auto;
        width: 90%;
        margin: 0 auto;
    } */
    #desktop_nav_bar{
        display: none;
    }
    
}
.nav_bar a{
    list-style-type:none;
    text-decoration: none;
    font-family:sans-serif;
    color: gray;
}
.nav_item{
    font-size:1rem;
    padding: .5rem;
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
}
.nav_item:hover{
    background-color: rgb(245, 161, 52);
    color: wheat;
}
/* top banner */

#top_banner_bg_0{
    background-image: url('../Images/bg.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
}

#top_banner_bg_1{
    background-image: url('../Images/1bg.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
}
#slider1{
    display: none;
}

#top_banner_bg_2{
    background-image: url('../Images/2bg.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
}
#slider2{
    display: none;
}


.top_banner{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.btn{
    background-color: white;
    color: rgb(240, 162, 16);
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}
.btn_text{
    color:rgb(245, 161, 52);
    text-align: center;
    padding: .5rem;
}
.max_title{
    color: white;
    padding: 1rem;
    font-size: 5rem;
    font-family: sans-serif;
}
.gray_title{
    color: gray;
    font-size: 2.5rem;
    font-family: sans-serif;
}
.orange_title{
    color: rgb(240, 162, 16);
    margin: 1rem 0 1rem 0;
    font-size: 2.5rem;
    font-family: sans-serif;
}
.white_title{
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
}
.orange_sub_title{
    color: rgb(240, 162, 16);
    margin: 1rem 0 1rem 0;
    font-family: sans-serif;
}
.gray_sub_title{
    color: gray;
    font-family: sans-serif;
}
.white_sub_title{
    color:white;
    margin: 1rem 0 1rem 0;
    font-family: sans-serif;
    text-align: center;
}

.white_sub_title_left{
    color:white;
    margin: 1rem 0 1rem 0;
    font-family: sans-serif;

}

.ban_text{
    color: white;
    text-align: center;
    font-family: sans-serif;
    
}
/* ser section */
.ul_style{
    list-style-type: square;
}
.service_section {
    margin: 1rem 0 1rem 0;
}

.ser_des{
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gen_text{

    color: gray;
    text-align: center;
    font-family: sans-serif;
}
.gen_text_left{
   
    color: gray;
    text-align: left;
    font-family: sans-serif;
    font-size: .9rem;
}
.gen_text_orange_right{
    padding: 1rem 0 1rem 0;
    color: rgb(245, 161, 52);
    text-align: end;
    font-family: sans-serif;
}
.white_text_left{
    padding: .5rem 0 .5rem 0;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: sans-serif;
}

.ser_cards{
    margin: 2rem;
    display: flex;
    width: 70%;
    margin-left: 15%;  
}


@media only screen and (min-width: 700px){
    .ser_cards{
        position: relative;
        margin: 2rem;
        display: flex;
        width: 70%;
        margin: auto;  
    }
    .ser_cards:after{
        position: absolute;
        top: 30%;
        height: 2px;
        background-color: rgb(240, 106, 16);
        content: "";
        width: 100%;
        margin: auto;
        /* display: block; */
        
        
    }
}

@media only screen and (max-width: 700px){
    .ser_cards{
        
        display: flex;
        flex-direction: column;
        
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
}
.ser_list_bg{
    background-image: url('../Images/website_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto; 
}
.ser_list{
    padding: 2rem 0 2rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.ser_list_left{
    width: 50%;
}
.ser_list_right{
    width: 50%;
}
.ul_slyle{
    padding: 1rem;
    list-style-type: circle;
}
@media only screen and (max-width: 700px){
    .ser_list{
        display:flex;
        flex-direction: column;
        
    }
    .ser_list_left img{
        width: 90%;
        height: auto;
    }

    .ser_list_left{
        width:90%;
    }
    .ser_list_right{
        width:90%;
    }
    
}


.ser_btn{
    background-color:rgb(245, 161, 52);
    padding: 1rem;
    display:flex;
    justify-content: center;
}


.progress_border{
    background-color: gray;
    border-radius: 5px;
    
    margin: 1rem 0 1rem 0;
    
}
.orange_fill{
   
    background-color: rgb(245, 161, 52);
    width: 80%;
    height: 10px;
    border-radius: 5px;
}

/* portfolio */
.port_btn{
    display:flex;
    justify-content: center;
    padding: 1rem;
}
@media only screen and (max-width: 700px){
    .port_btn{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.port_btn_style{
        background-color: rgb(245, 161, 52) ;
        color:white;
        border: 1px solid white;
        padding: .5rem;
        border-radius: 1rem; 
        margin: .5rem;
        cursor: pointer;
}
.port_content{
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.port_img{
    padding: 1rem;
}
@media only screen and (max-width: 700px){
    .port_img{
        padding: 1rem;
        width: 100%;
        height: auto;
    }
}
/* service list */
.ser{
    display:flex;
    justify-content: center;
}
.ser_list_after_bg{
    background-color: rgb(245, 161, 52) ;
}
.ser_list_after{
    padding: 3rem 0 3rem 0; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
@media only screen and (max-width: 700px){
    .ser_list_after{
        display: flex;
        flex-direction: column;
    }
    .ser_list_after_left{
        width: 90%;
    }
    .ser_list_after_right{
        width: 90%;
    }
}
@media only screen and (max-width: 700px){
    .iframe{
        width: 30vh
        
    }
}
.ser_list_after_left{  
    width: 50%;
}
.ser_list_after_right{
    padding: 0 0 0 1rem;
    display:flex;
    flex-direction: column;
    align-content:space-between;
    width: 50%;
}


.ser_end{
    background-color: rgb(78, 75, 75);
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
}
/* about */
.team_des_bg{
    background-image: url('../Images/Artist_transperent_potrait_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto; 
}
.team_des{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 700px){
    .team_des{
        display: flex;
        flex-direction: column;
    }      
}

.s_link{
    display:flex;
    justify-content: flex-start;
    padding: 1rem;
}
.team_slink{
    color: gray;
    width: 4rem;
    height: 4rem;
}
.co_skill_bg{
    background-color:rgb(78, 75, 75) ;
    padding: 2rem 0 2rem 0;
}
.co_skill {
    
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.skill_left {
    width: 70%;
}
.about_co_right{
    width: 30%;
    margin:  0 0 0 1rem;
}


@media only screen and (max-width: 700px){
    .co_skill {
        padding: 2rem 0 2rem 0; 
        display: flex;
        flex-direction: column;
    }
    .skill_left{
        width: 90%;
        margin: 0;
    }
    .about_co_right{
        width: 90%;
        margin: 0;
    }
}

.blog_content{
    display: flex;
    
}
@media only screen and (max-width: 700px){
    .blog_content{
        display: flex;
        flex-direction: column;
    }
}
.blog_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    border-bottom: 2px solid gray;
    background-color: rgb(250, 244, 239);
}
.bl_img{
    
    display: flex;
    align-self: center;
}
.bl_des{
    
    padding: 0 1rem 1rem 1rem;
}

/* contact */
.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 161, 52) ;
    padding: 1.5rem;
}
.contact_bg{
    background-image: url('../Images/website_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto; 
    padding: 2rem 0 2em 0;
}
.btn_contact{
    background-color: white;
    color: rgb(240, 162, 16);
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
    margin: 1rem;
    align-self:center;
}
.contact_us{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.email_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subs_form_input{
    display:flex;
    justify-content: center;
}
.contact_form_style{
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius:  5px;
    color:white;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    padding: .5rem;
    flex-grow: 1;

}
.textarea {
    width: 100%;
    min-height: 10rem;
}
@media only screen and (max-width: 700px){
    .textarea {
        width: 90%;
    }
    .contact_form_style{
        width: 90%;
    }
}

/* footer */
.footer_bg {
   background-color:rgb(78, 75, 75) ;
   padding: 3rem 0 3rem 0;
}
.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.awsome_font{
    padding: 1rem 1rem 1rem 0;
    font-size: 1.5rem;
   
}
#more_blog{
    display: none;
}

.more_blog_text{
    display: none;
}


.read_more_btn{
    background-color:rgb(250, 244, 239);
    color:rgb(245, 161, 52);
    border: none;
    border-radius:5px;
    cursor: pointer;
}
.three_dots{
    display: block;
}

.slider_btn{
    padding: 6px;
    margin: 0 .25rem 0 .25rem;
    border-radius: 3px;
    /* border: 1px solid white; */
}

#slide_2{
    display: none;
}


