*{
    margin: 0px;
}
.nav_bar{
    display: flex;
    
    width: 100%;
    position: fixed;
    background-color: beige;
}
.nav_item{
    font-size:1rem;
    padding: 1rem;
    margin: 1rem;
    flex: 1 1 auto;
    align-self: center;
    text-align: center;
}
.nav_item:hover{
    background-color: rgb(245, 161, 52);
    color: wheat;
}

.top_bannar{
    position: relative;
    background-image: url('../Images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh; 
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.top_bannar::before{
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

.btn{
    background-color: white;
    color: wheat;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
}
.btn_text{
    color:rgb(245, 161, 52);
    text-align: center;
}
.ban_text{
    color: white;
    margin: 1rem;
}
.ser_des{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.gen_text{
    padding: .5rem;
    color: gray;
    text-align: center;
}
.ser_cards{
    margin: 2rem;
    display: flex;
    
}
.card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    align-self:center;
}
.ser_list{
    position: relative;
    background-image: url('../Images/website_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.ser_list::before{
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.20);
}
.ser_btn{
    background-color:rgb(245, 161, 52) ;
    padding: 1rem;
    display:flex;
    justify-content: center;
}
.port_btn{
    display:flex;
    justify-content: center;
}
.port_btn_style{
        background-color: rgb(245, 161, 52) ;
        color:white;
        border: 1px solid white;
        padding: .5rem;
        border-radius: 1rem; 
        margin: 1rem;
}
.port_content{
    width:100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: space-around;
    align-content: center; 
}
.ser_list_after{
    padding: 3rem;
    background-color: rgb(245, 161, 52) ;
    display: flex;

}
.ser_list_after_part_2{
    padding: 1.5rem;
}
.ser_end{
    background-color: rgb(78, 75, 75);
    padding: 1rem;
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
}
.team_des{
    width: 70%;
    display: flex;
    justify-self: center;
    align-items: center;
}